*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear-fix {
  zoom: 1;
}
.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.left {
  float: left;
}

.right {
  float: right;
}
body {
  background-color: #f9f9f9;
  font-family: Microsoft YaHei;
}
.main_item {
  /* 页面主要部分样式 */
  position: absolute;
  left: 256px;
  top: 138px;
  width: 1158px;
}
